<ion-view title="Restuarant App Login Page">

  <ion-nav-buttons side="right">

  </ion-nav-buttons>
  <ion-content>
    <img src="../img/burg.jpg">
   <!--<form ng-submit="login(user)">-->
    <!--<div class="list">-->
      <!--<label class="item item-input">-->
        <!--<input type="text" placeholder="User Name" ng-model="user.name">-->
      <!--</label>-->
      <!--<label class="item item-input">-->
        <!--<input type="password" placeholder="Password" ng-model="user.pass">-->
      <!--</label>-->
    <!--</div>-->
     <!--<button type="submit" class="bar bar-dark">Login</button>-->
   <!--</form>-->

    <button class="bar bar-balanced" ng-click="login()">
     LOG IN USING FACEBOOK
   </button>



  </ion-content>
</ion-view>
