<ion-view>
  <ion-content>
    <!--<h1>Signup Page</h1>-->
    <!--<form ng-submit="signup(detail)">-->
    <!--<div class="list">-->
      <!--<label class="item item-input">-->
        <!--<input type="text" placeholder="First Name" ng-model="detail.fname">-->
      <!--</label>-->
      <!--<label class="item item-input">-->
        <!--<input type="text" placeholder="Last Name" ng-model="detail.lname">-->
      <!--</label>-->
      <!--<label class="item item-input">-->
        <!--<input type="text" placeholder="Email Address" ng-model="detail.email">-->
      <!--</label>-->
      <!--<label class="item item-input">-->
        <!--<input type="text" placeholder="Password" ng-model="detail.pass">-->
      <!--</label>-->
      <!--<button type="submit">SignUp Me</button>-->
    <img id="profileImage" src="profileImage" style="max-width:200px; max-height:200px;">
    <input type="file" accept="image/*" capture="camera" id="file-upload"> </div>
    <!--</div>-->
    <!--</form>-->

  </ion-content>
</ion-view>
